.currentBoard {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 4rem;

	&__col {
		position: relative;

		display: flex;
		width: 100%;
		margin-bottom: 5rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__list {
		display: flex;
		width: 100%;
	}
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;

	list-style: none;
}
