.boardList {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: auto;

	&__btn {
		width: 30rem;
		margin: 2rem;
		padding: 2.5rem 0;

		color: #000;
		font-weight: 600;
		font-size: 2rem;

		text-align: center;

		background-color: transparent;

		border: 0.3rem solid #00296b;
		border-radius: 1rem;

		cursor: pointer;

		transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;

		&:hover {
			box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

			transform: scale(1.1);
		}
	}
}
