.listItem {
	position: relative;

	width: 22%;
	min-width: 20rem;
	margin-top: 5rem;
	margin-right: 4%;

	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.3);

	transition: transform 0.1s ease-in;

	&:hover {
		transform: scale(1.1);
	}

	&:nth-child(4n) {
		margin-right: 0;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;

		text-align: center;

		background-color: #fff;
		border-radius: 0.5rem;
	}

	&__title {
		position: relative;

		padding: 2rem 0;

		font-size: 2rem;

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 0.2rem;

			background-color: #00296b;

			content: "";
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;

		font-size: 3rem;

		visibility: hidden;
		opacity: 0;

		transition: visibility 0.1s ease-in, opacity 0.1s ease-in,
			transform 0.1s ease-in;

		fill: #fe5f55;

		&:hover {
			transform: scale(1.3);
		}
	}

	&:hover &__icon {
		visibility: visible;
		opacity: 1;
	}
}
