.boardItem {
	position: relative;

	width: 20rem;
	margin: 2rem;
	overflow: hidden;

	text-align: center;

	background-color: #00296b;
	border-radius: 1rem;
	cursor: pointer;

	transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;

	&__link {
		z-index: 10;

		display: block;

		text-decoration: none;

		&:visited {
			text-decoration: none;
		}
	}

	&__title {
		padding: 2rem;

		color: #fff;
		font-size: 1.8rem;
		line-height: 2.5rem;
		word-break: break-word;

		border-radius: 1rem;
	}

	&__icon {
		font-size: 3rem;

		fill: #00296b;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10000;

		width: 35%;
		height: 100%;

		background-color: red;

		border: none;
		border-radius: 0 1rem 1rem 0;

		transform: translateX(70%);

		visibility: hidden;

		cursor: pointer;

		opacity: 0;

		transition: opacity 0.1s linear, visibility 0.2s linear,
			transform 0.2s ease;

		&:hover {
			transform: translateX(0%);
		}
	}

	&:hover &__btn {
		visibility: visible;
		opacity: 1;
	}

	&:hover {
		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

		transform: scale(1.1);
	}
}
