.myBtn {
	position: relative;

	margin: 0;
	padding: 0;

	font-weight: 700;
	font-size: inherit;
	font-family: inherit;

	background: transparent;
	border: none;

	cursor: pointer;

	&__title {
		color: #000;
		line-height: 2.5rem;
		word-break: break-word;
	}
}
