.card {
	position: relative;
	z-index: 1000;

	margin-bottom: 1rem;
	padding: 1.5rem 1rem;

	color: #00296b;

	background-color: #fdc500;
	border-radius: 0.5rem;
	cursor: pointer;

	transition: box-shadow 0.2s ease-in;

	&__title {
		margin: 0;

		word-break: break-all;
	}

	&:hover {
		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
	}
}
