.card {
	margin: 1.5rem 0;
	padding: 1.5rem 1rem;

	color: #00296b;

	background-color: #fdc500;
	border-radius: 0.5rem;

	cursor: pointer;

	transition: transform 0.1s ease-in;

	&:last-child {
		margin-bottom: 0;
	}

	&__title {
		margin: 0;

		word-break: break-all;
	}

	&:hover {
		transform: scale(1.05);
	}
}
